
*.log
tools
*.pyc
__pycache__
parsed/
parsed/*
parsed/*/*.py
parsed/*/*.log
galaxy_types/
venv/
test/data/
!test/data/cheetah_simplification
test/rubbish/
tool-data
*.tmp
richard_questions.txt
TODO.txt
galaxy_requirements.txt
requirements.txt
edge_cases.txt
runs
simple_workflow_original/
simple_workflow_modified/

super_simple_workflow/
super_simple_unicycler/
super_simple_quast/
super_simple_prokka/
super_simple_out/
simple_workflow/
simple_out/
medium_workflow/
medium_out/
hard_workflow/
hard_out/
characterisation_workflow/
