


tools
*.pyc
__pycache__
parsed/
parsed/*
parsed/*/*.py
parsed/*/*.log
galaxy_types/
venv/
test/data/
test/rubbish/
tool-data
*.tmp
richard_questions.txt
TODO.txt
galaxy_requirements.txt
requirements.txt
edge_cases.txt
simple_workflow/
medium_workflow/



