

tools
*.pyc
__pycache__
parsed/
parsed/*
parsed/*/*.py
parsed/*/*.log
galaxy_types/
venv/
test/data/
test/rubbish/
tool-data
*.tmp
richard_questions.txt
TODO.txt
galaxy_requirements.txt
requirements.txt
edge_cases.txt

super_simple_workflow/
super_simple_out/
simple_workflow/
simple_out/
medium_workflow/
medium_out/
hard_workflow/
hard_out/
characterisation_workflow/
